@*@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EmptySite.Models.Blocks.TeaserBlock

    <div>
        <h2>@Html.PropertyFor(x => x.Heading)</h2>
        <img src="@Url.ContentUrl(Model.Image)" />
    </div>*@